.discount-form {
  display: flex;
  align-items: center;
}

.discount-image {
  max-width: 400px;
}

.discount-fields {
  flex: 1;
}

.discount-steps {
  list-style-type: decimal;
}

.discount-image-input {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
  }

  > .help-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 300ms linear ease;
    opacity: 0;
    background: rgba(0, 0, 0, 0.3);
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover > .help-text {
    opacity: 1;
  }

  > .icon {
    color: #ddd;
    position: absolute;
    right: 4px;
    top: 4px;
  }

  .errors {
    position: absolute;
    bottom: 12px;
    left: 4px;
    color: $red;
  }
}

.discount-image-preview {
  width: 100%;
}

.discount-field-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
}

.discount-relationships {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.discount-links {
  margin-top: 12px;
}
