.form-actions {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

.form-actions--row {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 8px;
  justify-content: flex-end;
}

.export-database-fields {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto 1fr;
  margin: 12px;
  gap: 8px;
}

.export-database-options {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-content: center;
  margin: 12px;
  gap: 8px;
}

.form-refresher {
  display: flex;
  justify-content: center;
}
